body {
    background-color: rgb(35, 98, 194);
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
}

#cpf {
    margin-top: 10px;
}

#telefone {
    margin-top: 10px;
}

#email {
    margin-top: 10px;
}

#fundoFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(109, 109, 243);
    border-style: groove;
    border-radius: 20px;
    border-color: black;
}

#aniversario {
    margin-top: 10px;
}

#TextoFinal {
    margin-top: 30px;
    text-align: center;
    font-size: larger;
}

#SalvarTudo {
    border-style: groove;
    border-radius: 25px;
    height: 35px;
    width: 100px;
    margin-bottom: 10px;
}

#Limpar {
    border-style: groove;
    border-radius: 25px;
    height: 35px;
    width: 100px;
}